// Background colors
$bg-white: #EDEFF7;
$bg-gray: #5C576A;

// Primary colors
$aqua-blue: #338cc6;
$light-purple: #ACA7E6;
$regular-purple: #716EFC;
$dark-purple: #251E21;
$orange: #F1642B;
$green: #577B6C;
$dark-green: #0C4D3B;